<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IPumpService" clientBaseAddress="http://localhost:9999/"
						 />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58340/PumpService.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IPumpService" contract="PumpServiceReference.IPumpService"
                name="WSDualHttpBinding_IPumpService">
                <identity>
                    <userPrincipalName value="DESKTOP-KU9N192\Home" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>